certifi==2022.5.18.1
charset-normalizer==2.0.12
cx-Freeze==6.8
dearpygui==1.6.2
fuzzywuzzy==0.18.0
idna==3.3
importlib-metadata==4.11.4
Pillow==8.4.0
python-Levenshtein==0.12.2
requests==2.26.0
urllib3==1.26.9
zipp==3.8.0
